* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.top-headers {
    display: flex;
    gap: 25px;
    padding: 10px;
}

.header-logo {
    margin-left: 14.5%;
} 

.header-link-text {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 14.5%;
}

.hero-and-footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-text {
    margin-left: 15%;
    width: 35%
}

.sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    border: 0;
    font-weight: 700;
}

.main {
    display: flex;
    margin-top: 10px;
}

.image {
    margin-right: 14.5%;
    background-color: #6D747D;
    height: 230px;
    width: 600px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    font: 36px #1F2937;
    font-weight: 900;
    margin-top: 30px;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.box-text p {
    width: 166px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
}

.box {
    height: 160px;
    width: 160px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.quote {
    background-color: #E5E7EB;
    height: 300px;
    margin-top: 50px;
}

.quote-text {
    padding-top: 80px;
    font: 36px #1F2937;
    font-weight: 300;
    width: 40%;
    font-style: italic;
    margin-left: 30%;
}

.thor {
    margin-left: 60%;
    font-weight: 700;
}

.call-to-action {
    display: flex;
    width: 1000px;
    background-color: #3882F6;
    justify-content: center;
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100px;
    vertical-align: center;
    padding-top: 45px;
    
}

.call-to-action-header {
    color: #E5E7EB;
}

.call-to-action-text {
    color: #E5E7EB;
}

.call-to-action-h-t {
    display: flex;
    flex-direction: column;
}

.call-to-action-button {
    display: flex;
    margin-left: 100px;
    height: 50px;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    width: 150px;
    align-items: center;
    padding-left: 45px;
    border-radius: 10px;
    font-size: 18px;
}

.bottom {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    height: 50px;
}

.copyright {
    color: #E5E7EB;
    padding-top: 15px;
    font-size: smaller;
}